/* WWR CSS Style */
/* Font @import*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

/*#background {
    height: 750px;
    background-color: #EEEFA8;
}*/

header a img {
    display: block;
    margin: 50 auto;
    width: 25%;
}

div img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.card-img {
    display: block;
    margin: 0 auto;
    width: 60%;
    border: 5px Solid #2D2A32;
    box-sizing: border-box;
    border-radius: 50%;
}

.icon {
    display: block;
    margin: 0 auto;
    width: 80px;
    border: 10px #2D2A32;
    box-sizing: border-box;
    border-radius: 50%;
}

body {
    max-width: 960px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}

h3, h4, h5, h6 {
    font-family: "Bebas Neue";
    color: #2D2A32;
    text-align: center;
}

header {
    padding: 1em;
    text-align: center;
    color: #EEEFA8;
    background-color: #2D2A32;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

header > h1, header > h2 {
    color: #EEEFA8;
}

h1 {
    font-family: 'Rock Salt','Bradley Hand', serif;
}

h2 {
    font-family: 'Protest Revolution', sans-serif;
}

p {
    font-family: PT-Serif, Helvetica, sans-serif;
    color: #2D2A32;
    padding: 10px;
}

section.Quote p {
    font-family: 'Protest Riot', Helvetica, sans-serif;
    font-size: 1.75em;
    color: #2D2A32;
    padding: 10px;
    background-color: #EEEFA8;
    border: 5px Solid #2D2A32;
    box-sizing: border-box;
}

nav {
    background-color: #DDD92A;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

nav a {
    padding: 10px;
    min-width: 120px;
    text-decoration: none;
    font-family: 'Sixtyfour', serif;
}

nav a:link, nav a:visited {
    color: #2D2A32;
}

nav a:hover {
    color: #EEEFA8;
    background-color: #2D2A32;
}

.msg {
    background-color: #2D2A32;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

.msg h2 {
    color: #EEEFA8;
}

.msg p {
    color: #EEEFA8;
    padding: 1em;
    font-family: 'Protest Riot', Helvetica, sans-serif;
    font-size: 1.25em;
}

.msg a {
    color: #EEEFA8;
}

.msg a:hover {
    color: #DDD92A;
}

footer {
    background-color: #2D2A32;
    padding: 1em;
}

footer p {
    font-size: 1.2em;
    color: #EEEFA8;
}

footer p a {
    color: #EEEFA8;
}

footer p a:hover {
    text-decoration: underline;
    color: #DDD92A;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.social a {
    margin: 0 1rem;
}

.social img {
    width: 60px;
    height: 60px;
}