/* Week 4 Ice Challenge */

body{
    margin: 0;
    padding: 0
}
#content{
    max-width: 1000px;

    margin: 0 auto;
}
header, footer{
    background-color: rgb(145, 166, 200);
}
h1, h2{
    text-align: center;
}
.nav_link{
    padding: 20px;
    margin: 0 10px;
    font-size: 1.3em;

}
nav{
    display: flex;
    justify-content: center;
}
img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

a{
    color: black;

}
nav a{
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.3em;
}
nav a:hover{
    color: navy;
    background-color: white;
}
p, h3{
    text-align: center;
}
#main_title{
    font-size: 4em;
    text-align: center;
}
#sub_title{
    color: rgb(201, 139, 24);
}
footer{
    padding: 20px;
}

